**/node_modules
**/.git
**/.env
**/.env.local
**/dist
!chatbox/release/app/dist/renderer
!apps/chess/dist
!apps/flashcards/dist
*.md
*.pdf
mcp/
packages/
chatbox/src
chatbox/out
chatbox/.erb
chatbox/scripts
chatbox/team-sharing
